// @import "../../styles/variables";
// @use "@/styles/variables.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
//   padding: $spacing-lg;
}

.form {
  max-width: 400px;
  width: 100%;
//   padding: $spacing-xl;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  h1 {
    // margin-bottom: $spacing-lg;
    text-align: center;
    // color: $dark;
  }
}
